<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFirstProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18DBB7791F6C224500198A1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18DBB7921F6C224500198A1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18DBB79D1F6C224600198A1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
